div,section {
    margin-top: var(--sm-spacing);
    margin-left: var(--sm-spacing);
}

.btn {
    padding: var(--btn-padding);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: var(--bold-font-weight);
    border-radius: var(--default-border);
}

.btn-primary-contained {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    box-shadow: var(--default-shadow);
}

.btn-primary-contained:hover {
    background-color: var(--primary-color-dark-shade1);
}

.btn-primary-outlined {
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--primary-color);
    box-shadow: var(--default-shadow);
}

.btn-primary-outlined:hover {
    background-color: #f7f7f7;
}

.btn-primary-text {
    color: var(--primary-color);
    border: 2px solid white;
    background-color: transparent;
}

.btn-primary-text:hover {
    background-color: var(--primary-color-light-shade4);
    border: 2px solid var(--primary-color-light-shade4);
}

.btn-primary-link {
    color: var(--primary-color);
    border: 2px solid white;
    background-color: transparent;
}

.btn-primary-link:hover {
    color: var(--primary-color-dark-shade1);
}

.btn-disabled-primary {
    border: 2px solid var(--primary-color-light-shade3);
    background-color: var(--primary-color-light-shade3);
    color: var(--primary-color);
    box-shadow: none;
    cursor: auto;
}

.btn-disabled-secondary {
    border: 2px solid var(--secondary-color-light-shade3);
    background-color: var(--secondary-color-light-shade3);
    color: var(--secondary-color-light-shade1);
    box-shadow: none;
    cursor: auto;
}