.footer {
  background-color: var(--primary-color);
  color: var(--basic-bg);
  padding: var(--default-spacing) 0rem;
  text-align: center;
}

.footer-heading {
  font-weight: 400;
  font-size: 1.25rem;
}
