.toast {
    padding: var(--sm-spacing) var(--default-spacing);
    border-radius: var(--default-border);
    max-width: fit-content;
    margin: var(--sm-spacing);
    display: flex;
    align-items: flex-start;
}

.toast-success {
    color: var(--success-dark-color);
    background-color: var(--success-light-color);
}

.toast-success-outlined {
    color: var(--success-dark-color);
    border: 0.125rem solid var(--success-dark-color);
    background-color: white;
}

.toast-danger {
    color: var(--danger-dark-color);
    background-color: var(--danger-light-color);
}

.toast-danger-outlined {
    color: var(--danger-dark-color);
    border: 0.125rem solid var(--danger-dark-color);
    background-color: white;
}

.toast-warning {
    color: var(--warning-dark-color);
    background-color: var(--warning-light-color);
}

.toast-warning-outlined {
    color: var(--warning-dark-color);
    border: 0.125rem solid var(--warning-dark-color);
    background-color: white;
}

.toast-information {
    color: var(--information-dark-color);
    background-color: var(--information-light-color);
}

.toast-information-outlined {
    color: var(--information-dark-color);
    border: 0.125rem solid var(--information-dark-color);
    background-color: white;
}