<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert | Savvy UI</title>
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
    <section>
        <h3>success alert</h3>

        <p class="alert alert-success"><i class="fas fa-check mr-05"></i> This is an example of success alert</p>
        <p class="alert alert-success-outlined"><i class="fas fa-check mr-05"></i> This is an example of success
            outlined alert</p>
    </section>

    <section>
        <h3>danger alert</h3>

        <p class="alert alert-danger"><i class="fas fa-exclamation-triangle mr-05"></i> This is an example of danger alert</p>
        <p class="alert alert-danger-outlined"><i class="fas fa-exclamation-triangle mr-05"></i> This is an example of danger outlined alert</p>
    </section>

    <section>
        <h3>warning alert</h3>

        <p class="alert alert-warning"><i class="fas fa-exclamation mr-05"></i> This is an example of warning alert</p>
        <p class="alert alert-warning-outlined"><i class="fas fa-exclamation mr-05"></i> This is an example of warning outlined alert</p>
    </section>

    <section>
        <h3>information alert</h3>

        <p class="alert alert-information">This is an example of information alert</p>
        <p class="alert alert-information-outlined">This is an example of information outlined alert</p>
    </section>
</body>

<script src="https://kit.fontawesome.com/ba1ac74ca9.js" crossorigin="anonymous"></script>

</html>