<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge | Savvy UI</title>
    <link rel="stylesheet" href="../component_style/badge.css">
    <link rel="stylesheet" href="../../styles/variable.css" />
</head>

<body>
    <h3>Badge with text</h3>

    <section>
        <div class="badge-container">
            <h1>Sed ut perspiciatis unde omnis iste natus <span class="badge badge-primary-contained">New</span></h1>
        </div>
        <div class="badge-container">
            <h2>Sed ut perspiciatis unde omnis iste natus <span class="badge badge-primary-outlined">New</span></h2>
        </div>
        <div class="badge-container">
            <h3>Sed ut perspiciatis unde omnis iste natus <span class="badge badge-primary-contained">New</span></h3>
        </div>
        <div class="badge-container">
            <h4>Sed ut perspiciatis unde omnis iste natus <span class="badge badge-secondary-contained">New</span></h4>
        </div>
        <div class="badge-container">
            <p>Sed ut perspiciatis unde omnis iste natus <span class="badge badge-secondary-outlined">New</span></p>
        </div>
        <div class="badge-container">
            <small>Sed ut perspiciatis unde omnis iste natus <span
                    class="badge badge-primary-outlined">New</span></small>
        </div>
    </section>

    <section>
        <h3>Badge with icons</h3>

        <div class="badge-container">
            <i class="fas fa-cart-plus"></i><span
                class="badge status-badge badge-primary-contained badge-round sm-badge">9</span>
        </div>

        <div class="badge-container">
            <i class="fas fa-cart-plus"></i><span
                class="badge status-badge badge-secondary-contained badge-round sm-badge">9</span>
        </div>
        
        <div class="badge-container">
            <i class="fas fa-cart-plus"></i><span class="badge status-badge badge-primary-outlined badge-round sm-badge">9</span>
        </div>
        
        <div class="badge-container">
            <i class="fas fa-cart-plus"></i><span class="badge status-badge badge-secondary-outlined badge-round sm-badge">1</span>
        </div>
    </section>

    <section>
        <h3>Icons as badge</h3>

        <div class="badge-container">
            <i class="fas fa-cart-plus badge icon-badge badge-round"></i>
        </div>
        
        <div class="badge-container">
            <i class="fas fa-cart-plus badge icon-badge"></i>
        </div>
    </section>
</body>

<script src="https://kit.fontawesome.com/ba1ac74ca9.js" crossorigin="anonymous"></script>

</html>