<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button | Savvy UI</title>
    <link rel="stylesheet" href="../component_style/button.css">
    <link rel="stylesheet" href="../../styles/variable.css" />
</head>

<body>
    <section>
        <h3>primary button example</h3>

        <div>
            <button class="btn btn-primary-contained">primary button</button>
        </div>
        <div>
            <button class="btn btn-primary-outlined">primary button</button>
        </div>
        <div>
            <button class="btn btn-primary-text">primary button</button>
        </div>
        <div>
            <button class="btn btn-primary-link">primary link</button>
        </div>
    </section>

    <section>
        <h3>icon button example</h3>
        
        <div>
            <button class="btn btn-primary-contained"><i class="fas fa-cart-plus"></i></button>
        </div>
        <div>
            <button class="btn btn-primary-outlined"><i class="fas fa-cart-plus"></i></button>
        </div>
    </section>

    <section>
        <h3>disabled button examples</h3>

        <div>
            <button disabled="disabled" class="btn btn-disabled-primary">primary button</button>
        </div>
        <div>
            <button disabled="disabled" class="btn btn-disabled-secondary">primary button</button>
        </div>
    </section>
</body>

<script src="https://kit.fontawesome.com/ba1ac74ca9.js" crossorigin="anonymous"></script>

</html>