<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="vidhi thakur" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards | Savvy UI</title>
    <link rel="stylesheet" href="../../styles/main.css" />
</head>
<!-- <i class="fas fa-cart-plus"></i> -->

<body>
    <section>
        <h3>vertical cards</h3>

        <!-- vertical card -->
        <div class="card card-vertical">
            <img loading="lazy" class="card-image-horizontal"
                src="https://th.bing.com/th/id/OIP.327gZuChoI2kICVOvypyGgHaHc?w=219&h=220&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                alt="dress" />
            <div class="card-textContainer">
                <h3 class="pb-1">Pink Dress</h3>
                <p class="pb-1">Girls White & Blue Printed Dress <br /> <small>Sold by: Lil Picks</small></p>
                <p>White and blue printed playsuit with knot detail, has a shirt collar, sleeveless, button closures
                </p>
            </div>
            <div class="card-btnContainer">
                <button class="btn btn-primary-contained"><i class="fas fa-cart-plus  mr-05"></i> add to cart</button>
            </div>
        </div>
        <!-- vertical card with icon badge -->
        <div class="card card-vertical">
            <div class="badge-container card-customBadge">
                <i class="fas fa-heart badges icon-badge badge-round"></i>
            </div>
            <img loading="lazy" class="card-image-horizontal"
                src="https://th.bing.com/th/id/OIP.327gZuChoI2kICVOvypyGgHaHc?w=219&h=220&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                alt="dress" />
            <div class="card-textContainer">
                <h3 class="pb-1">Pink Dress</h3>
                <p class="pb-1">Girls White & Blue Printed Dress <br /> <small>Sold by: Lil Picks</small></p>
                <p>White and blue printed playsuit with knot detail, has a shirt collar, sleeveless, button closures
                </p>
            </div>
            <div class="card-btnContainer">
                <button class="btn btn-primary-contained"><i class="fas fa-cart-plus  mr-05"></i> add to cart</button>
            </div>
        </div>
        <!-- vertical card with text badge -->
        <div class="card card-vertical">
            <span class="badge badge-primary-contained card-customBadge">New</span>
            <img loading="lazy" class="card-image-horizontal"
                src="https://th.bing.com/th/id/OIP.327gZuChoI2kICVOvypyGgHaHc?w=219&h=220&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                alt="dress" />
            <div class="card-textContainer">
                <h3 class="pb-1">Pink Dress</h3>
                <p class="pb-1">Girls White & Blue Printed Dress <br /> <small>Sold by: Lil Picks</small></p>
                <p>White and blue printed playsuit with knot detail, has a shirt collar, sleeveless, button closures
                </p>
            </div>
            <div class="card-btnContainer">
                <button class="btn btn-primary-contained"><i class="fas fa-cart-plus  mr-05"></i> add to cart</button>
            </div>
        </div>
    </section>

    <section>
        <h3>horizontal cards</h3>

        <!-- horizontal card -->
        <div class="card card-horizontal">
            <img loading="lazy" class="card-image-vertical"
                src="https://th.bing.com/th/id/OIP.327gZuChoI2kICVOvypyGgHaHc?w=219&h=220&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                alt="dress" />
            <div class="br-inherit">
                <div class="card-textContainer br-inherit">
                    <h3 class="pb-1">Pink Dress</h3>
                    <p class="pb-1">Girls White & Blue Printed Dress <br /> <small>Sold by: Lil Picks</small></p>
                    <p>White and blue printed playsuit with knot detail, has a shirt collar, sleeveless, button closures
                    </p>
                </div>
                <div class="card-btnContainer br-inherit">
                    <button class="btn btn-primary-contained"><i class="fas fa-cart-plus  mr-05"></i> add to
                        cart</button>
                    <button class="btn btn-primary-outlined">move to wishlist</button>
                </div>
            </div>
        </div>
        <!-- horizontal card -->
        <div class="card card-horizontal">
            <span class="badge badge-primary-contained card-customBadge-horizontal">New</span>
            <img loading="lazy" class="card-image-vertical"
                src="https://th.bing.com/th/id/OIP.327gZuChoI2kICVOvypyGgHaHc?w=219&h=220&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                alt="dress" />
            <div class="br-inherit">
                <div class="card-textContainer br-inherit">
                    <h3 class="pb-1">Pink Dress</h3>
                    <p class="pb-1">Girls White & Blue Printed Dress <br /> <small>Sold by: Lil Picks</small></p>
                    <p>White and blue printed playsuit with knot detail, has a shirt collar, sleeveless, button closures
                    </p>
                </div>
                <div class="card-btnContainer br-inherit">
                    <button class="btn btn-primary-contained"><i class="fas fa-cart-plus  mr-05"></i> add to
                        cart</button>
                    <button class="btn btn-primary-outlined">move to wishlist</button>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <h3>card with dismiss</h3>

        <div class="card card-vertical">
            <div class="card-customBadge badge-dismiss">
                <i class="fa fa-close"></i>
            </div>
            <img loading="lazy" class="card-image-horizontal"
                src="https://th.bing.com/th/id/OIP.327gZuChoI2kICVOvypyGgHaHc?w=219&h=220&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                alt="dress" />
            <div class="card-textContainer">
                <h3 class="pb-1">Pink Dress</h3>
                <p class="pb-1">Girls White & Blue Printed Dress <br /> <small>Sold by: Lil Picks</small></p>
                <p>White and blue printed playsuit with knot detail, has a shirt collar, sleeveless, button closures
                </p>
            </div>
            <div class="card-btnContainer">
                <button class="btn btn-primary-contained"><i class="fas fa-cart-plus mr-05"></i> add to cart</button>
            </div>
        </div>
    </section>

    <section>
        <h3>card with text overlay</h3>

        <div class="card card-vertical">
            <img loading="lazy" class="card-image-horizontal opacity-05"
                src="https://th.bing.com/th/id/OIP.327gZuChoI2kICVOvypyGgHaHc?w=219&h=220&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                alt="dress" />
            <div class="card-textContainer opacity-05 c">
                <h3 class="pb-1">Pink Dress</h3>
                <p class="pb-1">Girls White & Blue Printed Dress <br /> <small>Sold by: Lil Picks</small></p>
                <p>White and blue printed playsuit with knot detail, has a shirt collar, sleeveless, button closures
                </p>
            </div>
            <div class="card-btnContainer cursor-auto opacity-05">
                <button class="btn btn-primary-contained"><i class="fas fa-cart-plus mr-05"></i> add to cart</button>
            </div>
            <div>
                <p class="text-overlay">Out of stock</p>
            </div>
        </div>
    </section>
</body>

<script src="https://kit.fontawesome.com/ba1ac74ca9.js" crossorigin="anonymous"></script>

</html>