<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input | Savvy UI</title>
    <meta name="author" content="vidhi thakur" />
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>

    <section class="mb-1">
        <h3>input field</h3>

        <div class="mb-1 input-container">
            <label for="input">Enter email: </label>
            <input class="input" id="input" type="text" placeholder="e.g., oliver@gmail.com" />
        </div>
        <div class="mb-1 input-container">
            <label for="input">Enter email: </label>
            <input class="input input-error" id="input" type="text" placeholder="e.g., oliver@gmail.com" />
        </div>
    </section>

    <section class="mb-1">
        <h3>textarea field</h3>

        <div class="mb-1 input-container">
            <label for="input">Enter message: </label>
            <textarea class="input" id="textarea-input" name="textarea-input" rows="4" cols="50" placeholder="enter your message"></textarea>
        </div>
        <div class="mb-1 input-container">
            <label for="input">Enter message: </label>
            <textarea class="input input-error" id="textarea-input" name="textarea-input" rows="4" cols="50" placeholder="enter your message"></textarea>
        </div>
    </section>

    <section class="mb-1">
        <h3>disabled inputs</h3>

        <div class="mb-1 input-container">
            <label for="input">Enter email: </label>
            <input disabled="disabled" class="input" id="input" type="text" placeholder="e.g., oliver@gmail.com" />
        </div>
        <div class="mb-1 input-container">
            <label for="input">Enter message: </label>
            <textarea disabled="disabled" class="input" id="textarea-input" name="textarea-input" rows="4" cols="50" placeholder="enter your message"></textarea>
        </div>
    </section>
</body>

</html>