<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="vidhi thakur" />
    <title>Navigation | Savvy UI</title>
    <link rel="stylesheet" href="../../styles/main.css" />
</head>

<body>
    <nav class="nav">
        <div class="avatar avatar-sm-size">
            <img src="../../assets/images/ECom-logo.svg" alt="avatar" />
        </div>
        <div class="nav-serch">
            <i class="fas fa-search opacity-07"></i>
            <input class="nav-input" type="text" placeholder="Search" />
        </div>
        <div class="nav-links">
            <button class="btn btn-primary-contained shadow-none">login</button>
            <span class="position-rel nav-icon-box">
                <i class="fas fa-user-alt nav-icon"></i><span
                    class="badge status-badge badge-primary-contained badge-round sm-badge">5</span>
            </span>
            <span class="position-rel nav-icon-box">
                <i class="fas fa-heart nav-icon"></i><span
                    class="badge status-badge badge-primary-contained badge-round sm-badge">5</span>
            </span>
            <span class="position-rel nav-icon-box">
                <i class="fas fa-cart-plus nav-icon"></i><span
                    class="badge status-badge badge-primary-contained badge-round sm-badge">9</span>
            </span>
        </div>
    </nav>
</body>
<script src="https://kit.fontawesome.com/ba1ac74ca9.js" crossorigin="anonymous"></script>

</html>