<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toast | Savvy UI</title>
    <link rel="stylesheet" href="../../styles/main.css" />
    <meta name="author" content="vidhi thakur" />
</head>

<body>
    <section>
        <h3>success toast</h3>

        <p class="toast toast-success"><i class="fas fa-check mr-05"></i> This is an example of success toast <i class="fa fa-close ml-2 cursor-pointer"></i></p>
        <p class="toast toast-success-outlined"><i class="fas fa-check mr-05"></i> This is an example of success
            outlined toast <i class="fa fa-close ml-2 cursor-pointer"></i></p>
    </section>

    <section>
        <h3>danger toast</h3>

        <p class="toast toast-danger"><i class="fas fa-exclamation-triangle mr-05"></i> This is an example of danger toast <i class="fa fa-close ml-2 cursor-pointer"></i></p>
        <p class="toast toast-danger-outlined"><i class="fas fa-exclamation-triangle mr-05"></i> This is an example of danger outlined toast <i class="fa fa-close ml-2 cursor-pointer"></i></p>
    </section>

    <section>
        <h3>warning toast</h3>

        <p class="toast toast-warning"><i class="fas fa-exclamation mr-05"></i> This is an example of warning toast <i class="fa fa-close ml-2 cursor-pointer"></i></p>
        <p class="toast toast-warning-outlined"><i class="fas fa-exclamation mr-05"></i> This is an example of warning outlined toast <i class="fa fa-close ml-2 cursor-pointer"></i></p>
    </section>

    <section>
        <h3>information toast</h3>

        <p class="toast toast-information">This is an example of information toast <i class="fa fa-close ml-2 cursor-pointer"></i></p>
        <p class="toast toast-information-outlined">This is an example of information outlined toast <i class="fa fa-close ml-2 cursor-pointer"></i></p>
    </section>
</body>

<script src="https://kit.fontawesome.com/ba1ac74ca9.js" crossorigin="anonymous"></script>

</html>