.linkCTA {
    color: var(--primary-color-text);
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.linkCTA:hover {
    background-color: var(--text-hover);
}