.primary {
  color: var(--secondary-color);
  background-color: var(--primary-color-text);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-default);
}

.primary:hover {
  background-color: var(--btn-dark-hover);
}

.secondary {
  color: var(--primary-color-text);
  background-color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-default);
}

.secondary:hover {
  background-color: var(--card-hover);
}

.primary-outlined {
    border: 1px solid var(--primary-color-text);
    color: var(--primary-color-text);
    background-color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-default);
  }
  
  .primary-outlined:hover {
    background-color: var(--card-hover);
  }