:root {
  --primary-color-text: #9333ea;
  --text-hover: #faf5ff;
  --btn-dark-hover: #7e22ce;
  --secondary-color: #ffffff;
  --shadow-default: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  font-size: 16px;
  --heading-default: 1.25rem;
  --subHeading-default: 0.875rem;
  --border-radius: 0.25rem;
  --default-card-width: min(400px, 90%);
  --card-hover: #f7f7f7;
  --disabled-text: rgba(0, 0, 0, 0.34);
  --disabled-default-bg: rgba(0, 0, 0, 0.08)
}

* {
  margin: 0;
}

.App { 
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.04);
}