.m-1 {
    margin: 1rem;
}

.m-auto {
    margin: auto;
}

/* margin right */
.mr-05 {
    margin-right: 0.5rem;
}

/* margin left */
.ml-025 {
    margin-left: 0.25rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

/* margin bottom */
.mb-1 {
    margin-bottom: 1rem;
}

/* margin top */
.mt-1 {
    margin-top: 1rem;
}