.p-1 {
    padding: 1rem;
}

.p-05 {
    padding: 0.5rem;
}

/* padding top */
.pt-1 {
    padding-top: 1rem;
}

/* padding left */
.pl-2 {
    padding-left: 2rem;
}

/* padding bottom */
.pb-1 {
    padding-bottom: 1rem;
}