:root {

    /* primary color with different shades */
  --primary-color: #f0e68c;
  --primary-color-light-shade1: #f3eba3;
  --primary-color-light-shade2: #f6f0b9;
  --primary-color-light-shade3: #f9f5d0;
  --primary-color-dark-shade1: #ede175;
  --primary-color-dark-shade2: #eadc5f;
  --primary-color-dark-shade3: #e7d748;

  /* font size */
  --default-font-size: 100%;

  /* border radius for round elements */
  --round-border: 50%;
}
